<template>
    <lightning-card title="Select Record View">
        <lightning-combobox
                name="progress"
                value={value}
                placeholder="Select Field"
                options={options}
                onchange={handleChange} 
                style="margin-left:20px; margin-right:20px; margin-top:0">
        </lightning-combobox>
        <p style="margin-left:20px; margin-top:5px; margin-bottom:25px; font-size:14px;">Records are being displayed in : {value}</p>
    </lightning-card><br>









    <template if:true={showacc}>
        <lightning-card class="atitle" title="Products" style="font-weight: bold;">
            <ul class="slds-accordion" style="font-weight: normal;">
                <template for:each ={nameArr} for:item="prod" key={prod.prodId}>
                    <li class="slds-accordion__list-item" key={prod.prodId} style="position: relative;">
                        <section class="slds-accordion__section" onclick={handleClickAccordion}>
                            <div class="slds-accordion__summary">
                                <h2 class="slds-accordion__summary-heading">
                                    <button class="slds-button slds-button_reset slds-accordion__summary-action" aria-controls="referenceId-21" aria-expanded="true" title="Accordion summary">
                                        <lightning-icon icon-name="utility:chevrondown" size="x-small" class="slds-accordion__summary-action-icon slds-button__icon " aria-hidden="false"></lightning-icon>
                                        <lightning-icon icon-name="standard:product" alternative-text="Product" title="Product" style="margin-left: 8px; margin-right: 8px; size: 10px;"></lightning-icon>
                                        <span class="slds-accordion__summary-content" title="Section Title">{prod.prodName}</span>
                                        <lightning-button-menu slot="actions" key={prod.prodId} alternative-text="Show menu" icon-size="x-small" menu-alignment="right" style="position:absolute;right:10px;">
                                            
                                            <lightning-menu-item value="View" key={prod.prodId} label="View" data-val={prod.prodId}
                                                onclick={showDetailsModalBox2} name={prod.prodId}></lightning-menu-item>

                                            <lightning-menu-item value="Edit" key={prod.prodId} label="Edit" onclick={handleEdit}
                                                name={prod.prodId}></lightning-menu-item>

                                            <lightning-menu-item data-id={prod.prodId} value="Delete" key={prod.prodId} label="Delete"
                                                onclick={handledelete} name={prod.prodId}></lightning-menu-item>

                                        </lightning-button-menu>
                                    </button>
                                </h2>
                            </div>
                            <div class="slds-accordion__content">
                                <article class="slds-card">
                                    <div class="slds-card__body slds-card__body_inner">

                                        <lightning-tile style="background-color: rgba(238, 238, 238, 0.911); padding: 15px; margin-top:0; border-bottom: 1px solid rgb(212, 211, 211);">
                                            <span key={prod.prodId} class="slds-truncate" title="Section Title"
                                                style="color: rgba(0, 112, 210, 1); font-size:15px;">
                                                <template for:each={prod.fields} for:item="ele">
                                                    <lightning-formatted-rich-text style="font-size: small; font-style: italic; color:black; margin-bottom:10px;" class="slds-p-horizontal_small" value={ele.data} key={ele}></lightning-formatted-rich-text><br key={ele}>
                                                </template>
                                                <!-- <p style="font-size: small; font-style: italic; color:black; margin-bottom:10px;">Name: {prod.prodName}&ensp;&#8226;&ensp;</p> -->
                                            </span>
                                            <!-- <lightning-formatted-rich-text key={prod.prodId} class="myclass" value={prod.prodImg}>
                                            </lightning-formatted-rich-text> -->
                                        </lightning-tile>
                                    </div>
                                </article>
                            </div>

                            <template if:true={isDetailviewModal}>
                                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01"
                                    aria-modal="true" aria-describedby="modal-content-id-1"
                                    class="slds-modal slds-fade-in-open">
                                    <div class="slds-modal__container">
                                        <header class="slds-modal__header">
                                            <button
                                                class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                                title="Close" onclick={hideDetailModalBox2}>
                                                <lightning-icon icon-name="utility:close" alternative-text="close"
                                                    variant="inverse" size="small"></lightning-icon>
                                                <span class="slds-assistive-text">Close</span>
                                            </button>
                                            <h2 class="slds-text-heading_medium slds-hyphenate">View Product Details
                                            </h2>
                                        </header>
                                        <div class="slds-modal__content slds-p-around_medium">
                                            <lightning-card>
                                                <p>{pid}</p>
                                                <lightning-record-form record-id={pid} object-api-name="Product2"
                                                    layout-type="Full" mode="readonly">
                                                </lightning-record-form>
                                            </lightning-card>
                                        </div>
                                        <footer class="slds-modal__footer">
                                            <button class="slds-button slds-button_neutral"
                                                onclick={hideDetailModalBox2}>Cancel</button>
                                        </footer>
                                    </div>
                                </section>
                            </template>

                        </section>
                    </li>
                </template>
            </ul> 

        </lightning-card>
    </template>



















    <template if:true={showcard}>
        <div>
            <template if:true={nameArr}>
                <div class="slds-grid slds-wrap">
                    <template for:each={nameArr} for:item="prod">
                        <div key={prod.prodId} class="slds-size_1-of-3" style="margin:5px; width:300px;">
                            <lightning-card variant="Narrow" title={prod.prodName} icon-name="standard:account" key={prod.prodId} name={prod.prodId} label={prod.prodName} style="padding-left:10px">
                                <lightning-button-menu slot="actions" key={prod.prodId} alternative-text="Show menu" icon-size="x-small" menu-alignment="right">
                                    <lightning-menu-item value="View" key={prod.prodId} label="View" data-val={prod.prodId}
                                        onclick={showDetailsModalBox2} name={prod.prodId}></lightning-menu-item>
                                    <lightning-menu-item value="Edit" key={prod.prodId} label="Edit"
                                        onclick={handleEdit} name={prod.prodId}></lightning-menu-item>
                                    <lightning-menu-item data-id={prod.prodId} value="Delete" key={prod.prodId} label="Delete"
                                        onclick={handledelete} name={prod.prodId}></lightning-menu-item>
                                </lightning-button-menu>
                                <div style="padding-left:15px; padding-bottom:15px;">
                                    <template for:each={prod.fields} for:item="ele">
                                        <lightning-formatted-rich-text class="slds-p-horizontal_small" value={ele.data} key={ele}></lightning-formatted-rich-text><br key={ele}>
                                    </template>
                                </div>

                                <template if:true={isDetailviewModal}>
                                    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                                        <div class="slds-modal__container">
                                            <header class="slds-modal__header">
                                                <button
                                                    class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                                    title="Close" onclick={hideDetailModalBox2}>
                                                    <lightning-icon icon-name="utility:close" alternative-text="close"
                                                        variant="inverse" size="small"></lightning-icon>
                                                    <span class="slds-assistive-text">Close</span>
                                                </button>
                                                <h2 class="slds-text-heading_medium slds-hyphenate">View Product Details
                                                </h2>
                                            </header>
                                            <div class="slds-modal__content slds-p-around_medium">
                                                <lightning-card>
                                                    <p>{pid}</p>
                                                    <lightning-record-form record-id={pid} object-api-name="Product2"
                                                        layout-type="Full" mode="readonly">
                                                    </lightning-record-form>
                                                </lightning-card>
                                            </div>
                                            <footer class="slds-modal__footer">
                                                <button class="slds-button slds-button_neutral"
                                                    onclick={hideDetailModalBox2}>Cancel</button>
                                            </footer>
                                        </div>
                                    </section>
                                </template>
                            </lightning-card>
                        </div>
                    </template>
                </div>
            </template>
        </div>
    </template>











        <template if:true={showtile}>
                <div>
                    <div class="slds-p-around_medium lgc-bg">
                        <template if:true={nameArr}>
                            <template for:each={nameArr} for:item="prod">
                                <lightning-tile key={prod.prodId}  style="background-color: rgb(248, 248, 248); height:140px; width:700px; border:10px solid rgb(248, 248, 248);">
                                    <div style="display:inline-flex;">
                                        <div key={prod.prodId} title="ProductImage__c">
                                            <lightning-formatted-rich-text value={prod.prodImg} ></lightning-formatted-rich-text>                                        </div>
                                        <div key={prod.prodId} style="margin-top:5px; font-size:14px;">
                                            <template for:each={prod.fields} for:item="ele" >
                                                <lightning-formatted-rich-text class="slds-p-horizontal_small" value={ele.data} key={ele}></lightning-formatted-rich-text><br key={ele}>    
                                            </template>
                                        </div>
                                    </div>
                                    <div style="float:right">
                                        <img src={imagePath1} alt="edit" key={prod.prodId} data-id={prod.prodId} onclick={handleEdit}
                                        name={prod.prodId} style="height:25px;width:25px;padding:2px;">
                                        <img src={imagePath2} alt="delete" data-id={prod.prodId} key={prod.prodId} onclick={handledelete}
                                            style="height:25px;width:25px;padding:2px;">
                                        <img src={imagePath3} alt="big" key={prod.prodId} data-val={prod.prodId}
                                            onclick={showDetailsModalBox}
                                            style="height:26px;width:26px;padding:5px;">
                                    </div>
                                </lightning-tile>
                            </template>
                        </template>
                    </div>
                    <template if:true={isDetailviewModal}>
                        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                            aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                            <div class="slds-modal__container">
                                <header class="slds-modal__header">
                                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                        title="Close" onclick={hideDetailModalBox}>
                                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                                            size="small"></lightning-icon>
                                        <span class="slds-assistive-text">Close</span>
                                    </button>
                                    <h2 class="slds-text-heading_medium slds-hyphenate">View Product Details</h2>
                                </header>
                                <div class="slds-modal__content slds-p-around_medium">
                                    <lightning-card>
                                        <p>{pid}</p>
                                        <lightning-record-form record-id={pid} object-api-name="Product2" layout-type="Full"
                                            mode="readonly">
                                        </lightning-record-form>
                                    </lightning-card>
                                </div>
                                <footer class="slds-modal__footer">
                                    <button class="slds-button slds-button_neutral" onclick={hideDetailModalBox}>Cancel</button>
                                </footer>
                            </div>
                        </section>
                    </template>    
                </div>
        </template>
        

















        <template if:true={showflip}>
            <div style="background-color: white; border-radius:4px; padding-left:80px;">
                <div class="slds-grid slds-wrap">
                    <template if:true={nameArr}>
                        <template for:each={nameArr} for:item="prod">
                            <div key={prod.prodId} class="flip-card slds-m-around_medium">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <br>
                                        <div style="text-align:center">
                                            <lightning-formatted-rich-text value={prod.prodImg} ></lightning-formatted-rich-text>

                                        </div>
                                        <div style="text-align: center; font-size:15px; margin:10px;" > 
                                            {prod.prodName} 
                                        </div>    
            
                                    </div>
                                    <div class="flip-card-back" style="position:relative;">
                                        <div>
                                            <img src={imagePath1} alt="edit" key={prod.prodId} onclick={handleEdit} name={prod.prodId} style="height:28px;width:28px;padding:5px;float:right;">
                                            <img src={imagePath3} alt="big" key={prod.prodId} data-val={prod.prodId}
                                            onclick={showDetailsModalBox}
                                            style="height:26px;width:26px;padding:5px;float:right;">
                                        </div><br><br>
                                        <div>
                                            <template for:each={prod.fields} for:item="ele" style="font-size: 14px;">
                                                <lightning-formatted-rich-text class="slds-p-horizontal_small" value={ele.data} key={ele}></lightning-formatted-rich-text><br key={ele}>
                                            </template>
                                            <img src={imagePath2} alt="delete" data-id={prod.prodId} key={prod.prodId} onclick={handledelete}
                                            style="height:25px;width:25px;position:absolute; bottom:10px; right:10px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </template>
                </div>
                <template if:true={isDetailviewModal}>
                    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                        <div class="slds-modal__container">
                            <header class="slds-modal__header">
                                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                    title="Close" onclick={hideDetailModalBox}>
                                    <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                                        size="small"></lightning-icon>
                                    <span class="slds-assistive-text">Close</span>
                                </button>
                                <h2 class="slds-text-heading_medium slds-hyphenate">View Product Details</h2>
                            </header>
                            <div class="slds-modal__content slds-p-around_medium">
                                <lightning-card>
                                    <p>{pid}</p>
                                    <lightning-record-form record-id={pid} object-api-name="Product2" layout-type="Full"
                                        mode="readonly">
                                    </lightning-record-form>
                                </lightning-card>
                            </div>
                            <footer class="slds-modal__footer">
                                <button class="slds-button slds-button_neutral" onclick={hideDetailModalBox}>Cancel</button>
                            </footer>
                        </div>
                    </section>
                </template>
            </div>
        </template>



















        

        <template if:true={showslide}>
            <template if:true={nameArr}>
                <div class="full-view">
                    <div class="left-bar">
                        <template for:each={nameArr} for:item="prod">
                            <div key={prod.prodId} data-id={prod.prodId} data-val={prod.prodId} onclick={handleShowResults} class="less-info">
                                <template for:each={prod.fields} for:item="ele" >
                                   <br key={prod.prodId}> <lightning-formatted-rich-text class="slds-p-horizontal_small" value={ele.data} key={ele}></lightning-formatted-rich-text>   
                                </template>
                                <div style="float:right; display:inline">
                                    <img src={imagePath1} alt="edit" data-id={prod.prodId} name={prod.prodId} onclick={handleEdit} style="height:25px;width:25px;padding:2px;">
                                    <img src={imagePath2} alt="delete" data-id={prod.prodId} key={prod.prodId} onclick={handledelete} style="height:25px;width:25px;padding:2px;"> 
                                </div>
                                <div style="margin-top: 5px;">
                                    <lightning-formatted-rich-text class="myclass">
                                        IMAGE
                                    </lightning-formatted-rich-text>
                                </div>
                            </div>
                        </template>
                    </div>
                    <div class="right-bar">
                        <br>
                        <div style="font-size:18px;text-align:center; background-color:white; padding:8px; border-radius:3px;">Detailed View</div>
                        <template if:true={first}>
                            <lightning-card>
                            <lightning-record-form record-id={first} object-api-name="Product2" layout-type="Full" columns="2"
                                mode="readonly">
                            </lightning-record-form>
                            </lightning-card>
                        </template>
                    </div>
                </div>
            </template>
        </template>

</template>